---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
{% include bootstrap.css %}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* inherit height from window */
html, body { height: 100%; }

body {
  font-family: sans-serif;
}


div.lgtr-container {
  /* Positioning */
  /* Box-model */
  height: 100%;
  /* Typography */
  /* Visual */
  /* Misc */
}

div.lgtr-header {
  /* Positioning */
  /* Box-model */
  max-width: 200px;
  margin: 0 auto;
  padding-top: 20px;
  /* Typography */
  text-align: center;
  /* Visual */
  /* Misc */
  img {
    /* Positioning */
    /* Box-model */
    max-width: 200px;
    /* Typography */
    text-align: center;
    /* Visual */
    /* Misc */
  }
  a {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    /* Visual */
    color: #333;
    /* Misc */
  }
}

div.content-card {
  padding: 20px 40px;
  background-color: #d1e4f6;
  min-height: 356px;
  h2 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 0;
    padding-bottom: 0;
    /* Typography */
    /* Visual */
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    /* Typography */
    max-width: 100px;
    line-height: .5;
    /* Visual */
    border-bottom: 2px solid #333;
    /* Misc */
  }
}

div.content-card-2 {
  padding: 20px 40px;
  background-color: #c2e1be;
  min-height: 356px;
  h2 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 0;
    padding-bottom: 0;
    /* Typography */
    /* Visual */
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    /* Typography */
    max-width: 100px;
    line-height: .5;
    /* Visual */
    border-bottom: 2px solid #333;
    /* Misc */
  }
}



.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

div.text-center {
  /* Positioning */
  /* Box-model */
  /* Typography */
  text-align: center;
  /* Visual */
  /* Misc */
}

