---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
{% include bootstrap.css %}


img#logo {
  padding-top: 20%;
  max-width: 200px;
}

img#nav-logo {
  padding-top: 20px;
  max-width: 200px;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}


div.film-page {
  height: 400px;
}

/*****************************************************************************/
/*
/* Standard Page Elements
/*
/*****************************************************************************/

div.lgtr-page-header {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  /* Visual */
  /* Misc */
  h1 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-weight: 700;
    /* Visual */
    /* Misc */
  }
}

div.lgtr-page-body {
  /* Positioning */
  /* Box-model */
  padding-bottom: 200px;
  /* Typography */
  /* Visual */
  /* Misc */
  p {
    /* Positioning */
    /* Box-model */
    margin: 50px auto 20px auto;
    padding-top: 50px;
    max-width: 500px;
    /* Typography */
    font-family: "le-monde-journal-std-2", Georgia, serif;
    font-size: 20px;
    line-height: 1.5;
    /* Visual */
    border-top: 5px solid #eee;
    /* Misc */
    @media screen and (max-width: 540px) {
      padding-top: 0;
      margin-top: 25px;
      padding-left: 25px;
      padding-right: 25px;
      border-top: 0px solid #eee;
    }
  }
  h4 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "futura-pt", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
  h6 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "futura-pt", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
  h5 {
    /* Positioning */
    /* Box-model */
    max-width: 500px;
    margin: 0 auto 100px auto;
    padding-bottom: 50px;
    /* Typography */
    font-family: "futura-pt", Helvetica, Arial, sans-serif;
    font-weight: 700;
    /* Visual */
    border-bottom: 5px solid #eee;
    /* Misc */
    @media screen and (max-width: 540px) {
      padding-left: 25px;
      padding-right: 25px;
      border-bottom: 0px solid #eee;
    }
  }
}

/*****************************************************************************/
/*
/* Buttons from Kublai
/*
/*****************************************************************************/

.button {
  /* Positioning */
  /* Box-model */
  display: inline-block;
  // padding: 11px 22px;
  padding: 10px 30px;
  margin-bottom: 5px;
  white-space: nowrap;
  vertical-align: middle;
  /* Typography */
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-shadow: none;
  text-align: center;
  text-transform: uppercase;
  /* Visual */
  background-image: none;
  border: 1px solid #d4dce4;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  /* Misc */
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  &:hover {
    text-decoration: none;
  }
  &.disabled {
    background: linear-gradient(#fff, #f7f9fb) #f7f9fb;
    border: 1px solid #d4dce4;
    color: #333;
    cursor: not-allowed;
    filter: alpha(opacity=50);
         -khtml-opacity: .50;
           -moz-opacity: .50;
                opacity: .50;
    &:hover {
      color: #333;
    }
  }
}

.btn-transparent {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: 700;
  /* Visual */
  background-color: rgba(0,0,0,0);
  border-color: #fff;
  color: #fff;
  /* Misc */
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  &:hover {
    border-color: #F1CA6C;
    color: #F1CA6C;
  }
  &:active, &:focus {
    border-color: #F1CA6C;
    color: #F1CA6C;
    outline: none !important;
  }
}

.btn-transparent-bk {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: 700;
  /* Visual */
  background-color: rgba(0,0,0,0);
  border-color: #000;
  color: #000;
  /* Misc */
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  &:hover {
    background-color: rgba(0,0,0,1);
    border-color: #fff;
    color: #fff;
  }
  &:active, &:focus {
    background-color: rgba(0,0,0,1);
    border-color: #fff;
    color: #fff;
    outline: none !important;
  }
}

.kublai-3x {
  font-size: 30px;
}